form {
    margin-left: 100px;
    margin-bottom: 15px;
    line-height: 25px;
}

form p {
    color: brown;
    font-size: 10px;
}

form input {
    width: 300px;
}

form label {
    font-size: 15px;
}

h3 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

a {
    color: black;
}

@media(max-width:380px){
    form{
        margin-left: 10px;
    }
}