form {
    margin-left: 100px;
    line-height: 25px;
}

form p {
    color: brown;
    font-size: 10px;
}

form input {
    width: 300px;
}

form label {
    font-size: 15px;
}

h3 {
    text-align: center;
}

a {
    color: black;
}