.imagem{
    height: 100%;
    width: 100%;

}

.imagem1{
    height: 100px;
    width: 100%;
}

.card-sessao-produtos{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.div2{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 300px 50px;
    column-gap: 10px;
}
.container-sessao-produtos{
    display: flex;
    flex-direction: row;
}
footer{
    padding: 5px;
    text-align: center;
}

.imagemProdutosMercado{
    height: 50%;
    width: 50%;
}

.card-produtos{

}

.container-produtos{
    display: grid;
    grid-template-columns: repeat(3, 400px) ;
    grid-template-rows: repeat(4, 400px);
    column-gap: 10px;
    margin-top: 5%;
}

.container-restaurante{
    display: grid;
    grid-template-columns: repeat(3, 400px) ;
    grid-template-rows: repeat(4, 400px);
    column-gap: 10px;
    margin-top: 5%;

}