* {
    margin: 0px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* CABEÇALHO*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 50px;
    background-color: #4e3223;
}

.icone-logo{
    height: 250px;
    border-radius: 20px;
}

button {
    color: white;
    font-size: 10px;
    background-color: #ad5323;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border-color: #51260e;
    font-weight: bold;
    font-size: 0.8em;
}

/*MAIN */

.titulo{
    padding: 20px;
    text-align: center;
}

.banners-principais{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
}

.banners-principais a{
    height: 100%;
    display: flex;
    align-items: center;
} 

.esc-mercado-restaurante{
    width: 100%;
    height: 80%;
    text-align: center;
    position: relative;
    border-radius: 10% ;
    overflow: hidden;
    box-shadow: 2px 2px 5px black;

}

.esc-mercado-restaurante:hover{
    width: 102%;
    height: 82%;
}

.esc-mercado-restaurante h3{
   position: absolute;
   top: 30px;
   left: 30px;
   font-size: 1.5em;
   color: white;
}
.img-banners-main{
    width: 100%;
    height: 100%;
}

.img-banners-main img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* promocões*/
#promocoes-geral{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #4d2a18;
    column-gap: 5px;
    row-gap: 5px;   
}

.card-Promocao{
    height: 200px;
    background-color: #ad5323;
}

/* SESSÃO MERCADO*/
.sessao-mercado {
    width: 90%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 10px;
    align-items: center;
    text-align: center;
    margin: auto;
}

.img-card-sessao-mercado{
    width: 100%;
    height: 100%;

}

.img-card-sessao-mercado img{
    width: 100%;
}

.card-sessao-produtos p {
    color: black;
    margin-top:5px ;
}

/*---------------*/

.informacoes {
    text-align: center;
}

.informacoes input {
    width: 400px;
}

footer{
    margin-top: 100px;
    padding: 5px;
    text-align: center;
}

.imagemProdutosMercado{
    width: 100%;
    height: 50%;
}

.card-produtos {
    width: 200px;
    height: 500px;
    margin: 10px;
    padding: 10px 10px 10px 10px;
    line-height: 2.5;
    font-size: 15px;
}

.card-produtos:hover {
    box-shadow: 5px 5px 5px 5px gray;
}

.imagemProdutosMercado img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container-produtos{
    display: grid;
    grid-template-columns: repeat(4, 300px) ;
    grid-template-rows: repeat(3, 400px);
    column-gap: 30px;
    row-gap: 130px;
    margin-top: 5%;
    margin-left: 80px;
    align-items: center;

    /* 
    */

}

.container-restaurante{
    display: grid;
    grid-template-columns: repeat(3, 400px) ;
    grid-template-rows: repeat(4, 400px);
    column-gap: 10px;
    margin-top: 5%;

}
